<div class="row" id="historyHeader">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark"><i class="fa fa-user fa-fw "></i> <span class="localeTitle" data-bind="locale: 'account_history'"></span></h1>
  </div>
</div>
<section id="widget-grid">
  <!-- widget grid -->
  <div class="row">
    <!-- row -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!-- NEW WIDGET START -->
      <div class="jarviswidget defaultWidgetColor" data-widget-editbutton="false" data-widget-deletebutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h3 data-bind="locale: 'recent_metronotes_transactions'"></h3>
          <ul class="nav nav-tabs pull-right in" id="myTab">
            <li class="active">
              <a data-toggle="tab" href="#wid-id-txnHistory"><i class="fa fa-table"></i> <span class="hidden-mobile hidden-tablet" data-bind="locale: 'recent_transactions'"></span></a>
            </li>

            <li>
              <a data-toggle="tab" href="#wid-id-balHistory"><i class="fa fa-bar-chart-o"></i> <span class="hidden-mobile hidden-tablet" data-bind="locale: 'balance_history'"></span></a>
            </li>
          </ul>
        </header>
        <div>
          <!-- widget div-->
          <div class="widget-body no-padding">
            <!-- widget content -->
            <div id="historyTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="wid-id-txnHistory">
                <div class="widget-body-toolbar">
                  <form class="smart-form">
                    <fieldset class="historyRecentTxFieldset">
                      <section>
                        <div class="row">
                          <label class="control-label col col-sm-2" data-bind="locale: 'show_for_address'"></label>
                          <div class="col col-sm-10">
                            <select style="width:100%" data-bind="options: availableAddresses, optionsValue: 'ADDRESS', optionsText: 'LABEL', select2: { minimumResultsForSearch: 10, escapeMarkup: 'direct' }, value: selectedAddress"></select>
                          </div>
                        </div>
                      </section>
                    </fieldset>
                  </form>
                </div>
                <div id="txnHistoryLoading">
                  <div class="alert alert-info text-align-center" data-bind="locale: 'loading_transaction_data'"></div>
                </div>
                <table id="txnHistory" data-bind="fadeVisible: transactions().length > 0" width="100%" class="table table-striped table-hover datatable_tabletools">
                  <thead>
                    <tr>
                      <th data-bind="locale: 'tx'"></th>
                      <th data-bind="locale: 'block'"></th>
                      <th data-bind="locale: 'block_time'"></th>
                      <th data-bind="locale: 'source'"></th>
                      <th data-bind="locale: 'type'"></th>
                      <th data-bind="locale: 'description'"></th>
                      <!--<th>BTCAmount</th>
                      <th>Fee</th>-->
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: transactions">
                    <tr>
                      <td data-bind="html: dispTXHash()"></td>
                      <td data-bind="html: dispBlockIndex()"></td>
                      <td data-bind="text: dispBlockTime()"></td>
                      <td data-bind="html: dispSource()"></td>
                      <td data-bind="html: dispTxType()"></td>
                      <td data-bind="html: dispDescription()"></td>
                      <!--<td data-bind="html: btcAmount"></td>
                      <td data-bind="html: fee"></td>-->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="wid-id-balHistory">
                <div class="widget-body-toolbar">
                  <form class="smart-form">
                    <fieldset class="historyBalsFieldset">
                      <section>
                        <div class="row">
                          <label class="control-label col col-sm-2" data-bind="locale: 'select_token'"></label>
                          <div class="col col-sm-10">
                            <select class="width-max" data-bind="options: availableAssets, value: selectedAsset, select2: { minimumResultsForSearch: 10, escapeMarkup: 'direct' }, event: { change: assetChanged }"></select>
                          </div>
                        </div>
                      </section>
                    </fieldset>
                  </form>
                </div>
                <div id="balanceHistory"></div>
              </div>
            </div>

          </div>
          <!-- end widget content -->
        </div>
        <!-- end widget div -->
      </div>
      <!-- end widget -->
    </article>
    <!-- WIDGET END -->
  </div>
  <!-- end row -->
</section>