<div id="rps">

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
      <h1 class="page-title txt-color-blueDark">
        <i class="glyphicon glyphicon-hand-right"></i> 
          <span class="localeTitle" data-bind="locale: 'rock_paper_scissors'"></span><span data-bind="visible: possibleMoves() == 5" style="font-size:24px">-<span data-bind="locale: 'lizard_spock'" class="localeTitle"></span></span>
      </h1>
    </div>
  </div>

  <div id="pendingRPS" data-bind="fadeVisibleInOnly: pendingRPS()" class="alert alert-danger alert-block">
    <i class="fa-fw fa fa-btc"></i>
    <span data-bind="locale: 'rps_please_stay_logged2'"></span>
  </div>

  <section id="widget-grid"> <!-- widget grid -->

    <div class="row"> <!-- row -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!-- NEW WIDGET START -->
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget defaultWidgetColor" data-widget-editbutton="false" data-widget-deletebutton="false">
            <header>
              <span class="widget-icon"> <i class="fa fa-rocket"></i> </span>
              <h3>
                <span data-bind="visible: possibleMoves() != 5" data-bind="locale: 'play_rock_paper_scissors'"></span>
                <span data-bind="visible: possibleMoves() == 5" data-bind="locale: 'play_rock_paper_scissors_lizard_spock'"></span>
              </h3>
              <div class="clearfix"></div>
            </header>
            <div> <!-- widget div-->
              <div class="widget-body" data-bind="validationOptions: { insertMessages: false }" style="position:relative"> <!-- widget content -->

                <div class="row">
                  <div class="col col-lg-12 rps-play">
                    <h2 data-bind="locale: 'select_your_move'"></h2>
                    <div>
                      <ul class="rps-images" data-bind="foreach: rpssl">
                        <li class="rps-image" data-bind="attr: {rel: value}, visible: value <= $parent.possibleMoves">
                          <img data-bind="attr: {src: 'assets/'+name+'.png'}, click: $parent.selectMove" /><br />
                          <span data-bind="text: name"></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col col-lg-12 rps-play">
                    <h2 data-bind="visible: showAdvancedOptions() == false" data-bind="locale: 'select_your_wager'"></h2>
                    <h2 data-bind="visible: showAdvancedOptions" data-bind="locale: 'select_your_options'"></h2>
                    <div class="wager-groups" data-bind="visible: showAdvancedOptions() == false">
                      <div class="btn-group" data-toggle="buttons" data-bind="foreach: wagers">
                        <label class="radioBtn btn btn-lg" data-bind="attr: {style: 'background-image:url(assets/'+picto+'.png)'}">
                          <input type="radio" name="wager" data-bind="attr: {value: wager}, btnGroupChecked: $parent.wager">
                          <span class="amount" data-bind="text: wager + ' XMN'"></span>
                          <span class="openedCount fa  fa-hand-o-right" data-bind="html: '&nbsp;' + game_count + ' open'"></span>
                        </label>
                      </div>
                      <br /><span class="invalid" data-bind="validationMessage: wager"></span>
                    </div>
                  </div>
                </div>

                <div class="row rpsfield">
                  <label class="col col-lg-2 control-label font-medlg" data-bind="visible: showAdvancedOptions() == false" style="padding-left:0"><span data-bind="locale: 'source'"></span>:</label>
                  <label class="col col-lg-3 control-label font-medlg" data-bind="visible: showAdvancedOptions"><span data-bind="locale: 'source'"></span>:</label>
                  <div class="col col-lg-9">
                    <select class="form-control" style="width: 280px;vertical-align: top;margin-right: 12px;" name="source" data-bind="options: availableAddresses, optionsValue: 'address', optionsText: 'label', value: sourceAddress, select2: { minimumResultsForSearch: 10, escapeMarkup: 'direct' }"></select>
                    <div class="note" data-bind="locale: 'do_not_wager_on_different_addresses'"></div>
                  </div>                 
                </div>
                <div class="row rpsfield margin-top-15" data-bind="visible: showAdvancedOptions">
                  <label class="col col-lg-3 control-label font-medlg"><span data-bind="locale: 'wager'"></span>:</label>
                  <div class="col col-lg-9">
                    <input type="text"  name="wager" class="number form-control"  data-bind="value: wager, valueUpdate: 'input'" /> XMN
                    <br /><span class="invalid" data-bind="validationMessage: wager"></span>
                  </div>
                </div>
                <div class="row rpsfield" data-bind="visible: showAdvancedOptions">
                  <label class="col col-lg-3 control-label font-medlg"><span data-bind="locale: 'expiration'"></span>:</label>
                  <div class="col col-lg-9">
                    <input type="text"  name="expiration" class="number form-control"  data-bind="value: expiration, valueUpdate: 'input'" /> 
                    <span data-bind="locale: 'blocks'"></span>
                    <br /><span class="invalid" data-bind="validationMessage: expiration"></span>
                    <div class="note" data-bind="locale: 'expiration_rps_desc'"></div>
                  </div>
                </div>

                <div class="row" data-bind="visible: playLabel" style="margin-top:15px">
                  <div class="col col-lg-12 rps-play">
                    <a class="btn btn-primary btn-lg" href="#" data-bind="html: playLabel, click: doAction"></a>
                  </div>
                </div>

                <div class="show-advanced">
                  <input type="checkbox" name="showAdvancedOptions" value="1" data-bind="checked: showAdvancedOptions" />
                  <label data-bind="locale: 'advanced_option'"></label>             
                </div>

                <div class="rps5button">
                  <div class="rpsButton">
                    <img src="images/spock-lizard.jpg" data-bind="click: toggleGame" />
                  </div>
                  <a href="http://www.youtube.com/watch?v=iapcKVn7DdY" target="_blank" data-bind="visible: possibleMoves() == 5" data-bind="locale: 'watch_rules'"></a>
                </div>

              </div>
            </div> <!-- end widget div -->
        </div> <!-- end widget -->
      </article> <!-- WIDGET END -->
    </div> <!-- end row -->  

    <div class="row"> <!-- row -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!-- NEW WIDGET START -->
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget defaultWidgetColor" data-widget-editbutton="false" data-widget-deletebutton="false">
            <header>
              <span class="widget-icon"> <i class="fa fa-rocket"></i> </span>
              <h3 data-bind="locale: 'my_games'"></h3>
              <div class="clearfix"></div>
            </header>
            <div id="openGames"> <!-- widget div-->
              <div class="widget-body no-padding" data-bind="validationOptions: { insertMessages: false }"> <!-- widget content -->
                <div class="widget-body-toolbar"></div>

                <table width="100%" class="table table-striped table-hover datatable_basic" id="myRpsTable">
                  <thead>
                    <tr>
                      <th data-bind="locale: 'status'"></th>
                      <th data-bind="locale: 'block'"></th>
                      <th data-bind="locale: 'address'"></th>
                      <th data-bind="locale: 'wager'"></th>     
                      <th data-bind="locale: 'move'"></th>   
                      <th data-bind="locale: 'counter_move'"></th>
                      <th data-bind="locale: 'game'"></th>
                      <th data-bind="locale: 'expiration'"></th>
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: { data: myGames, as: 'game' }">
                    <tr>
                      <td style="text-align:center" data-bind="html: game.status_html"></td> 
                      <td data-bind="text: game.block_index"></td>
                      <td data-bind="text: game.address_label"></td>   
                      <td class="number" data-bind="text: game.wager"></td>
                      <td data-bind="text: game.move_str"></td>
                      <td data-bind="text: game.countermove_str"></td>
                      <td data-bind="text: game.game_type"></td> 
                      <td data-bind="html: game.expiration"></td>
                    </tr>
                  </tbody>
                </table>

              </div>
           </div> <!-- end widget div -->
        </div> <!-- end widget -->
      </article> <!-- WIDGET END -->
    </div> <!-- end row -->

  </section>

</div>